<!DOCTYPE html>
{% load static %}
<html lang="en" x-data="appData()">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='{% static "js/alpine.js" %}' defer></script>
    <link rel="stylesheet" href='{% static "css/styles.css" %}'>

    <title>Simple Counter</title>

</head>
<body>
    <div style="text-align: center; margin-top: 50px;">
        <button @click="count++" class="button1">
            Click me
        </button>
        <p style="margin-top: 20px; font-size: 18px;">Count: <span x-text="count"></span></p>
    </div>
    <h1 style="text-align: center; margin-top: 20px;">Hello Alpine World !!</h1>
    <template x-if="count == 10">
        <form action="" @submit.prevent="addPeople(person)">
            <input type="text" x-model="person" placeholder="enter person">
            <p x-text="person"></p>
            <template x-for="name in names"> 
                <p x-text="name"></p>
            </template>
            <button type="submit">add</button>
        </form>
    </template>

    <template x-show="people.length == 3">
        <button @click="printPeople">print list</button>
    </template>
    <script>
        function appData() {
            return {
                person: '',
                names: ['fruits', 'apple', 'orange', 'orange', 'orange'],
                count: 0,
                people: [],
                addPeople(person) {
                    this.people.push(person);
                    this.person = ''
                },
                printPeople() {
                    alert(`wow ${this.people.length} people in the list`);
                },
            }
        }
    </script>
</body>
</html>
